$darkgrey: #222;
$lightgrey: #666;
$superlightgrey: #999;
$skyblue: #3f95ea;
$skygreen: #52d3aa;
$skyyellow: #ecbb49;
$skyred: #e34e4e;

$font-size-base: 1em;

$h1-font-size: $font-size-base * 3 !default;
$h2-font-size: $font-size-base * 2.5 !default;
$h3-font-size: $font-size-base * 2 !default;
$h4-font-size: $font-size-base * 1.75 !default;
$h5-font-size: $font-size-base * 1.5 !default;
$h6-font-size: $font-size-base * 1.25 !default;
